<!--
File Name: error.ejs
Name: Husna Bakhshi
Id: 301194192
Date: 23 October 2022
-->

<!--Display error details-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
